<!doctype html>
<html lang="en">
  <head>
    <title>Endless Task List App using Flask</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>
  <body>
    <h1>Endless Task List App using Flask</h1>
    <ul>
      {{ user.username }}:<br />
      Level {{ user.level }}<br />
      {{ user.xp | short_numeric }} / {{ user.xp_required | short_numeric }}
      XP<br />
      <div class="progress-container">
        <!--get current level progress-->
        <progress value="{{ user.xp }}" max="{{ user.xp_required }}"></progress>
        <div class="progress-text">
          {{ user.xp / user.xp_required * 100 | short_numeric }}%
        </div>
      </div>
      Add New Task<br />
      <form action="{{ url_for('add_task') }}" method="post">
        <!--form to add task-->
        Name: <input type="text" id="name" name="name" required /><br />
        Due date:
        <input
          type="date"
          id="due_date"
          name="due_date"
          min="{{ today }}"
          required
        /><br />
        <input type="submit" value="Add Task" />
      </form>
      <ul>
        {% for task in tasks %}<!--repeat for each task in task list-->
        <li>
          {{ task.name }}<br />
          Due: {{ task.due_date }}
        </li>
        {% if not task.completed %}<!--show complete button if task is not completed-->
        <a href="/complete_task/{{ task.id }}">Complete</a>
        {% endif %}
        <a href="/delete_task/{{ task.id }}">Delete</a>
        {% endfor %}
      </ul>
    </ul>
  </body>
</html>
